* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* HERO */
.hero {
  height: 100vh;
  background-image: url("images/hero.png");
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.65);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  padding: 20px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
}

.subtitle {
  margin-top: 15px;
  font-size: 1.1rem;
  font-weight: 600;
}

.intro {
  margin-top: 20px;
  max-width: 700px;
  font-size: 1rem;
}
